*.dep
*.deps
*.orig
*.rej
*.pc
*.lo
*.o
*.o.cmd
*.la
*.a
*.a.cmd
.libs
.depend
.dirstamp
.config
autom4te.cache
config.h.in~
config.log
config.status
config_done
stamp-h1
/romfs
/romfs/*
/images
/images/*
/stage
/stage/*
/libs/libz/zlib-1.2.8/Makefile
/libs/libz/zlib-1.2.8/zconf.h
/user/ipset/ipset-6.x/m4/libtool.m4
/user/ipset/ipset-6.x/m4/ltdl.m4
/user/ipset/ipset-6.x/m4/ltoptions.m4
/user/ipset/ipset-6.x/m4/ltsugar.m4
/user/ipset/ipset-6.x/m4/ltversion.m4
/user/ipset/ipset-6.x/m4/lt~obsolete.m4
/user/shared/include/ralink_board.h
